@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html, body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
/* Custom CSS for the progress ring if needed */
.progress-ring {
    /* Formula: 2 * PI * Radius (Approx 283 for 45% of 100px) */
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}

@font-face {
    font-family: "Reem Kufi Ink";
    src: url("/fonts/reem-kufi-ink.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
};

h2 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: normal;
    font-size: 2.2rem;
};

h3 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
};


p {
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
}

a {
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
}
@media (min-width: 1536px) {
    html {font-size: 15px;}
}

/* a,
button {
    background: linear-gradient(135deg, #0A81CB 0%, #086ba8 100%);
    color: white;
    transition: all 0.3s ease;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
button:hover {
    background: linear-gradient(135deg, #086ba8 0%, #065289 100%);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(10, 129, 203, 0.3);
}

a:active,
button:active {
    transform: translateY(0);
} */

@layer utilities {
    .font-reem {
        font-family: "Reem Kufi Ink", sans-serif;
        font-weight: normal;
    }
}
